{profiles, [
  {test, [
    {erl_opts, [nowarn_export_all, debug_info]},
    {extra_src_dirs, ["test"]}
  ]},
  {debug, [
    {erl_opts, [debug_info]}
  ]},
  {prod, [
    {erl_opts, [
      {d, 'PROD'},
      deterministic,
      warnings_as_errors,
      compressed
    ]}
  ]},
  {examples, [
    {erl_opts, [
      debug_info,
      {i, "include"},
      {src_dirs, ["src", "example"]}
    ]},
    {escript_name, "errm_jwt_demo"},
    {escript_main_app, errm_jwt},
    {escript_incl_extra_apps, [errm_json, errm_uuid]},
    {escript_emu_args, "%%! -escript main errm_jwt_demo\n"}
  ]}
]}.
